In Python, a function is a named sequence of statements that belong together. Their primary purpose is to help us organize programs into chunks that match how we think about the problem.

In [ ]:
for i in range(10):
    pass

In [ ]:
def test(a,b):
    
    return a+b , a*b

In [ ]:
x, y = test(6,9)

In [ ]:
type(test())

str

In [ ]:
x

15

In [ ]:
y

54

In [ ]:
def person(name, age=34):
    print("name", name)
    print("age", age)

In [ ]:
person(name = 'shivam', age = 45)

name shivam
age 45

In [ ]:
# Variable Length argument

def add(*b):
    c=0
    
    for i in b:
        c = c+i
    
    return c

In [ ]:
add(2,4,5,23)

34

In [ ]:
#Keyword Variable Length argument

def person(name, **data):
    
    print("name:", name)
    for i,j in data.items():
        print(i,j)

In [ ]:
a = person('shivam', age = 24, city = 'Renukoot', score = 83)

name: shivam
age 24
city Renukoot
score 83

In [ ]:
b = person('sanjeev', age = 14, city = 'Renukoot', score = 83)

name: sanjeev
age 14
city Renukoot
score 83

In [ ]:
# scope of variables

a = 10 #global variable

def test():
    a = 15  #local variable
    b = 45
    print("in fun",a)
    
test()

print(b)

in fun 15
None

In [ ]:
def count(lst):
    
    even = 0
    odd = 0
    for i in lst:
        if i%2 == 0:
            even+=1
        else:
            odd+=1
            
    return even, odd

In [ ]:
lst = [45,12,12,14,23,44,67]

In [ ]:
even, odd = count(lst)

In [ ]:
even, odd

(4, 3)

In [ ]:
def is_prime(n):
    
    for i in range(2,n):
        if n % i == 0:
            print("this is not a prime number")
            break 
    else:
        print("this is a prime number")

In [ ]:
is_prime(17)

this is a prime number

In [ ]:
a , b = 5, 6

In [ ]:
a,b

(5, 6)

In [ ]:
b,a = a,b

In [ ]:
b,a

(5, 6)

In [ ]:
def fib(n):
    
    a = 0
    b = 1
    
    print(a)
    print(b)
    
    for i in range(2,n):
        
        c = a+b
        a = b
        b = c
        print(c)

In [ ]:
fib(7)

0
1
1
2
3
5
8

In [ ]:
5//2

2