## Data Structures

Data structures are basically just that - they are structures which can hold some data together. In other words, they are used to store a collection of related data. There are four built-in data structures in Python - list, tuple, dictionary and set. We will see how to use each of them and how they make life easier for us.

## Tuples

Python tuple is a sequence, which can store hetrogeneous data types such as integers, float, strings, lists and dictionary. Like strings, tuple is immutable.

In [1]:
t = ()

In [2]:
type(t)

tuple

In [2]:
t = (2,3,4, "hello", 'python')

In [3]:
t

(2, 3, 4, 'hello', 'python')

In [4]:
type(t)

tuple

In [6]:
t[-2]

'hello'

In [7]:
t[1:4]

(3, 4, 'hello')

In [15]:
t[4]

'python'

In [11]:
t1 = (3,2,6,8)

In [17]:
a,b,c,d,e = t

In [18]:
e

'python'

In [19]:
type(e)

str

In [20]:
e[3]

'h'

In [22]:
t1 = (2,5,7,8,9,5,2,5)

In [24]:
t1.count(5)

3

In [26]:
t1.index(5)

1

In [27]:
len(t1)

8

In [29]:
min(t1)

2

In [30]:
t1*2

(2, 5, 7, 8, 9, 5, 2, 5, 2, 5, 7, 8, 9, 5, 2, 5)

In [31]:
t2 = (5,7,8,9)

In [32]:
t1+t2

(2, 5, 7, 8, 9, 5, 2, 5, 5, 7, 8, 9)

In [33]:
t2[0] = 6

TypeError: 'tuple' object does not support item assignment

## List 

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [34]:
l = [2,4,6,7,9, 'singh', 'saheb']

In [35]:
type(l)

list

In [36]:
l

[2, 4, 6, 7, 9, 'singh', 'saheb']

In [37]:
l1 = [2,4,6,5,7,8,['singh', 7, 5, 'python']]

In [38]:
l1

[2, 4, 6, 5, 7, 8, ['singh', 7, 5, 'python']]

In [39]:
l1[6][-1]

'python'

In [40]:
l2 = [6,34, 67, 'fgh', 78, 'rtb']

In [41]:
l2[3] = 'shivam'

In [42]:
l2

[6, 34, 67, 'shivam', 78, 'rtb']

In [45]:
l2

[6, 34, 67, 'shivam', 78]

In [46]:
l3 = [8,7,5,12,23]

In [47]:
l2+l3

[6, 34, 67, 'shivam', 78, 8, 7, 5, 12, 23]

In [92]:
#append
l2.append('singh')

In [93]:
l2

[6, 34, 67, 'shivam', 78, 'singh', 'singh']

In [50]:
l4 = []
l4.append(l3)

In [51]:
l4

[[8, 7, 5, 12, 23]]

In [55]:
#extend
l5 = (9,5, 4, 'joker')

In [58]:
t5 = (7,6,6,8)

In [155]:
l6 = [7,8,9,0,12]

In [156]:
l6

[7, 8, 9, 0, 12]

In [157]:
set(l6)

{0, 7, 8, 9, 12}

In [60]:
l6.extend(t5)

In [61]:
l6

[7, 8, 9, 0, 12, 7, 6, 6, 8]

In [62]:
l6.extend('thde')

In [63]:
l6

[7, 8, 9, 0, 12, 7, 6, 6, 8, 't', 'h', 'd', 'e']

In [64]:
h1 = [8,7,6,4]
h2 = [7,85]

In [65]:
h1.append(h2)

In [66]:
h1

[8, 7, 6, 4, [7, 85]]

In [96]:
h3 = [89,78]
h4 = [78,67]

In [97]:
h3.extend(h4)

In [98]:
h3

[89, 78, 78, 67]

In [99]:
# count
h3.count(78)

2

In [100]:
h3.insert(1, 567)

In [101]:
h3

[89, 567, 78, 78, 67]

In [102]:
# remove
h3.remove(78)

In [103]:
h3

[89, 567, 78, 67]

In [104]:
h3.pop()

67

In [105]:
h3

[89, 567, 78]

In [106]:
h3.pop()

78

In [107]:
h3.pop(0)

89

In [108]:
h3

[567]

In [109]:
h5 = [4, 6,78,43,12]

In [110]:
h5.sort()

In [111]:
h5

[4, 6, 12, 43, 78]

In [112]:
h5.reverse()
h5

[78, 43, 12, 6, 4]

In [113]:
h5.clear()

In [114]:
h5

[]

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [115]:
d = {'name': 'shivam', 'score': 67, 'rating': 3.5}

In [117]:
type(d)

dict

In [160]:
d[2]

KeyError: 2

In [119]:
d['score']

67

In [120]:
d['rating'] = 4

In [121]:
d

{'name': 'shivam', 'score': 67, 'rating': 4}

In [122]:
del d['score']

In [123]:
d

{'name': 'shivam', 'rating': 4}

In [124]:
str(d)

"{'name': 'shivam', 'rating': 4}"

In [125]:
d1 = {'sr': 56, 'tt':78, 'yu':89}

In [126]:
d2 = d1.copy()

In [127]:
d2

{'sr': 56, 'tt': 78, 'yu': 89}

In [129]:
d2.get('sr')

56

In [130]:
d2.keys()

dict_keys(['sr', 'tt', 'yu'])

In [131]:
d2.values()

dict_values([56, 78, 89])

In [132]:
d3 = {'er': 67, 'po': 54}

In [133]:
d1.update(d3)

In [134]:
d1

{'sr': 56, 'tt': 78, 'yu': 89, 'er': 67, 'po': 54}

In [135]:
d1.clear()

In [136]:
d1

{}

## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table.

In [141]:
s = {1,4,4,4,2,5,2,7,8}

In [142]:
type(s)

set

In [143]:
s

{1, 2, 4, 5, 7, 8}

In [145]:
s.add(9)

In [146]:
s

{1, 2, 4, 5, 7, 8, 9}

In [147]:
s1 = {'roh', 'io', 'py', 'tw'}
s2 = {'io', 'py', 'te'}

In [148]:
s1.difference(s2)

{'roh', 'tw'}

In [149]:
s1

{'io', 'py', 'roh', 'tw'}

In [150]:
s1.difference_update(s2)

In [151]:
s1

{'roh', 'tw'}

In [152]:
s1

{'roh', 'tw'}

In [153]:
list(s1)

['roh', 'tw']

In [154]:
tuple(s1)

('roh', 'tw')

In [158]:
c1 = {'audi': 1970}
c2 = {'marceddes': 1960}

ct = {'cm': c1, 'cm2': c2}

In [162]:
c2['marceddes']

1960

In [159]:
ct

{'cm': {'audi': 1970}, 'cm2': {'marceddes': 1960}}

In [163]:
ct['cm2']['marceddes']

1960

In [170]:
#Q. Extract the "singh" from this list

l1 = ['abc',[2,3,('shivam', 'singh')],4,5,6]